<h1>La informacion que necesitas...</h1>
<h3>no la encontraras aquí</h3>
<h4>no pude sacar el comentario de js en las paginas q venian 
    creo q es mi talon de aquiles pelie con dios, el diablo y jebus. Menos mal soy ateo</h4>

<%= image_tag 'chiloe.jpg', alt: '100%' %>
